.second-header {
  width: 100%;
  min-width: 800px;
  height: 100px;
  background-color: #9370d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
 margin-bottom: 10px;
  height: 49px;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: black;
}